﻿@model EllokartAdmin.Models.Roles.RoleAttributeFillModel

@{
	ViewBag.Title = "RoleAttribute";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@{
	var data = ViewBag.message;
	var drpdwn = ViewBag.Mdropdown;
	var mDrpdwn = ViewBag.MAdropdown;
}

@using (Html.BeginForm("CreateRoleAttribute", "Role", FormMethod.Post))
{
	@Html.AntiForgeryToken()


	<div class="box box-primary">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs pull-right">
				<li class="pull-left header"><i class="fa fa-user-plus"></i> Role Attribute</li>
			
			</ul>

			<div class="form-horizontal">
				<div class="box-body" style="padding-top:50px">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label>Role</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">

							<select name="roleId" class="form-control">
								<option value="" selected>Choose here</option>
								@foreach (var item in @data)
								{
									<option value="@item.RoleId">@item.RoleName</option>
								}
							</select>

						</div>
					</div>



					<div class="form-group">
							<div class="col-sm-2 control-label">
								<label>Module</label>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<select name="ModuleId" id="moduleId" class="form-control">
									<option value="" selected>Choose here</option>
									@foreach (var item in @drpdwn)
									{
										<option value="@item.moduleId">@item.moduleName</option>
									}
								</select>

							</div>
						</div>




					<div class="form-group">
							<div class="col-sm-2 control-label">
								<label>Module Attribute</label>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">

								@Html.DropDownListFor(m => m.moduleAttributeId, new SelectList(""), "--Select Place--", new { @class = "form-control" })

							



							</div>
						</div>
					@*<div class="form-group">
							<div class="col-sm-2 control-label">
								<label>Module Attribute</label>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">

								<select name="ModuleAttr" id="ModuleAttrId" asp-for="moduleAttributeId"  asp-items="@(new SelectList(ViewBag.MAdropdown,"moduleAttributeId","moduleAttribute" ))">
									<option>Select Module Attribute</option>
								</select>
								<select id="moduleId" name="module" asp-for=""  >
									</select>
							</div>
						</div>*@



					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label>Status</label>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">

							<p style="padding:5px">
								@Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @checked = true })Active


							</p>


						</div>
					</div>

					<div class="form-group">
						<div class="col-md-6 col-sm-6  col-md-offset-2">

							<a class="btn btn-primary" href="@Url.Action("RoleAttributeList", "Role")">
								Cancel
							</a>
							<input type="submit" class="btn btn-success" value="Submit" />


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 
}
<script type="text/javascript">
	$(document).ready(function () {
		debugger
		$("#moduleId").change(function () {
			var moduleId = $(this).val(); 
			$.ajax({
				type: "POST",
				url: "/Module/GeModuleAttributeForModule?ModuleId=" + moduleId,
				contentType: "html",
				success: function (response) {
					$("#moduleAttributeId").empty();
					$("#moduleAttributeId").append(response)
				}
			})
		})
	})
</script>