﻿
@{
    ViewBag.Title = "BusinessVerificationList";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@{
    var data = ViewBag.message;
}


<div class="right_col" role="main">
    <div class="">
        <div class="x_title">

            <div class="clearfix"></div>
        </div>



        <div class="box-header with-border">
            <br />
            <ul class="nav nav-tabs ">

                <li class="header" style="color:#000000; font-weight:400; font-size:20px"><i class="fa fa-building"></i> Registered Businesses </li>
            </ul>
        </div>

        <table >
            <tr>
                @*<td> <label class="col-md-3 col-sm-3 col-xs-12">Search</label></td>*@
                <td>
                    @*<input type="text" class="" placeholder="Serch by mobileNumber" name="Mobilenumber" href="@Url.Action("SearchMobilenumber", "Home")" /></td>*@
                   
                    <input type="text" id="mobilenumber" class="" placeholder="Search by mobileNumber" name="Mobilenumber" />
                    <button type="submit" class="btn btn-sm btn-primary" id="Search" name="Search" aria-label="Search">Search</button>
					<button type="submit" class="btn btn-sm btn-primary" id="Download" name="Download" aria-label="Download">Download</button>
                  
                </td>

                @*<td> <button id="Search" class="btn btn-sm btn-primary">Search </button></td>*@
            </tr>

            
            <tr>

                <td>
                    @*<input type="text" class="" placeholder="Serch by mobileNumber" name="Mobilenumber" href="@Url.Action("SearchMobilenumber", "Home")" /></td>*@
                    
                    <input type="text" id="createdDate" class="" placeholder="Search by Date" name="createdDate" />
                    <button type="submit" class="btn btn-sm btn-primary" id="SearchByDate" name="SearchByDate" aria-label="Search">Search</button>


                </td>

            </tr>
        </table>



        <table id="ModuleViewTable" class="table table-striped responsive-utilities jambo_table bulk_action" style="padding-top:50px;">
            <thead>
                <tr class="headings">
                    <th>
                        <div class="icheckbox_flat-green" style="position: relative; background-color:aquamarine"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;" /><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </th>
                    <th class="column-title" style="display: table-cell;">Business Name</th>
                    <th class="column-title" style="display: table-cell;">Mobile Number</th>
                    <th class="column-title" style="display: table-cell;">Franchise Name</th>
                    <th class="column-title" style="display: table-cell;">Comments</th>
                    <th class="column-title" style="display: table-cell;">Created On </th>
                    <th class="column-title no-link last" style="display: table-cell;">
                        <span class="nobr">Action</span>
                    </th>
                    <th class="bulk-actions" colspan="7" style="display: none;">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a>
                    </th>
                </tr>
            </thead>

            <tbody id="UserRow">
                @foreach (var item in ViewBag.message)
                {                    
                <tr class="even pointer" id="row_@item.UserId">

                    <td class="a-center " id="check">

                        <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </td>
                    
                    <td class="">@item.BranchName</td>
                    <td class="">@item.MobileNo</td>
                    <td class="">@item.FranchiseName</td>
                    <td><input type="text" id="@item.UserId" name="@item.UserId" value="@item.Comments"><input type="hidden" name="Userid" id="Userid" value="@item.UserId" /></td>
                    <td class="">@item.CreatedOn</td>

                    <td class=" last">
                        <a class="btn btn-sm btn-primary" href="@Url.Action("BusinessVerification", "Home", new { Id = @item.UserId })" aria-label="Edit">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>

                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" id="Save" name="Save" aria-label="Edit" onclick=SaveComment(@item.UserId)>
                            <i class="fa fa-save" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                }

            </tbody>




        </table>
      
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content" id="ModelContent">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Module">
                                    Module <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <input type="text" id="n2" required="required" class=" form-control" readonly />
                                </div>
                            </div>



                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script type="text/javascript">
    function SaveComment(userid){
        debugger
        var id = userid;
        var Comment = $("#"+userid+"").val();
        $.ajax({
            type: 'POST',
            url: '/Home/SaveCustomerData',
            data: "{'Id':'" + id + "','comment':'" + Comment + "'}",
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
            
            },
            error: function (result) {
                alert(result);
            }
        })
    }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        debugger
        $('#Search').click(function () {
            var Id = 1;
            var mob = $("#mobilenumber").val();

            $.ajax({
                type: 'POST',
                url: '/Home/SearchMobilenumber',
                data: "{'Mobilenumber':'" + mob + "','id':'" + Id + "'}",
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    $("#UserRow").html(result);
                },
                error: function (result) {
                    alert(result);
                }
            });

        })


        $('#SearchByDate').click(function () {
            var Id = 1;
            var date = $("#createdDate").val();

            $.ajax({
                type: 'POST',
                url: '/Home/SearchBydate',
                data: "{'Date':'" + date + "','id':'" + Id + "'}",
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    $("#UserRow").html(result);
                },
                error: function (result) {
                    alert(result);
                }
            });

        })



	  $('#Download').click(function () {
            var Id = 1;

            var no = $("#mobilenumber").val();

            $.ajax({
                type: 'POST',
                url: '/Report/downloadsearchdata',
                data: "{'Id':'" + no + "'}",
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    $("#UserRow").html(result);
                },
                error: function (result) {
                    alert(result);
                }
            });

        })


    });
</script>




