﻿if(ViewBag.message !=null)
{
@foreach (var item in ViewBag.message)
{
   
        <tr class="even pointer" id="row_@item.BranchId">
            <td class="a-center " id="check">
                <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
            </td>
            <td class="">@item.DisplayName</td>
            @*<td class="">@item.isActive</td>*@
            <td class="">@item.CreatedOn</td>

            <td class=" last">
                <a class="btn btn-sm btn-primary" href="@Url.Action("EditVerifiedBusinesses", "Home", new { Id = @item.UserId })" aria-label="Edit">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>

            </td>
        </tr>


    
}
}
