﻿
@{
    ViewBag.Title = "createBrand";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@{
    var data = ViewBag.Message;
}
@using (Html.BeginForm("ProductBrand", "Home", FormMethod.Post))

{
    @Html.AntiForgeryToken()

    <div class="box box-primary">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li class="pull-left header"><i class=" fa fa-th"></i>Product Category</li>
                @*<li class=""><a href="#tab_3-3" data-toggle="tab" aria-expanded="true">Tab 3</a></li>
                    <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="true">Tab 2</a></li>
                    <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">Tab 1</a></li>*@
            </ul>

            <div class="form-horizontal">
                <div class="box-body" style="padding-top:50px">
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@


                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            <label>Product Category</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <select name="ProductCategoryId" class="form-control">
                                <option value="0" selected>Choose here</option>
                                @foreach (var item in @data)
                                {
                                    <option value="@item.ProductCategoryId">@item.CategoryName</option>
                                }
                            </select>

                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-sm-2 control-label">
                            <label>BrandCode</label>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="BrandCode" required="required" class="form-control" placeholder="Brand Code " />
                            @*@Html.EditorFor(model => model.Operation, new { htmlAttributes = new { @class = "form-control", placeholder = "Module Attribute" } })
                @Html.ValidationMessageFor(model => model.Operation, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <br />

                    <div class="form-group">

                        <div class="col-sm-2 control-label">
                            <label>BrandName</label>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="BrandName" required="required" class="form-control" placeholder="Brand Name " />
                            @*@Html.EditorFor(model => model.Operation, new { htmlAttributes = new { @class = "form-control", placeholder = "Module Attribute" } })
                @Html.ValidationMessageFor(model => model.Operation, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <br />



                    <div class="form-group">

                        <div class="col-sm-2 control-label">
                            <label>Description</label>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="Description" class="form-control" placeholder="Description" />
                            @*@Html.EditorFor(model => model.Operation, new { htmlAttributes = new { @class = "form-control", placeholder = "Module Attribute" } })
                @Html.ValidationMessageFor(model => model.Operation, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-2 control-label">
                            <label>Manufacture Name</label>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="ManufactureName" class="form-control" placeholder="Manufacture Name" />
                            @*@Html.EditorFor(model => model.Operation, new { htmlAttributes = new { @class = "form-control", placeholder = "Module Attribute" } })
                @Html.ValidationMessageFor(model => model.Operation, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6  col-md-offset-2">
                            <a class="btn btn-primary" href="@Url.Action("ProductBrandList", "Home")">
                                Cancel
                            </a>
                            <input type="submit" class="btn btn-success" value="Submit" />

                            @*<a class="btn btn-success" id="btnSubmit" value="Module">Submit</a>*@

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

}

