﻿
@{
    ViewBag.Title = "EditProductBrand";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@{
    var data = ViewBag.dropdown;
    var stat = ViewBag.message;

}
<!-- page content -->
@using (Html.BeginForm("UpdateProductBrand", "Home", FormMethod.Post))
{

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <br />
                            <h4 class="card-title">Edit Product Brand</h4>



                            <div class="clearfix"></div>
                        </div>
                        <div style="height: 50px">
                        </div>

                        <form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">
                            <input type="hidden" name="BrandId" value="@stat[0].BrandId" />





                            <div class="form-group">

                                <label for="position-bottom-left">Product Category  </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" name="ProductCategoryId">
                                        <option value="@stat[0].ProductCategoryId" selected>@stat[0].CategoryName</option>
                                        @foreach (var item in @data)
                                        {
                                            <option value="@item.ProductCategoryId">@item.CategoryName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <br />
                            <div class="form-group">
                                <label for="position-bottom-left">Brand Code  </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <input type="text" id="BrandCode" name="BrandCode" required="required" class=" form-control" value="@stat[0].BrandCode" />
                                </div>
                            </div>
                  
                    <br />
                    <div class="form-group">
                        <label for="position-bottom-left">Brand Name  </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <input type="text" id="BrandCode" name="BrandName" required="required" class=" form-control" value="@stat[0].BrandName" />
                        </div>
                    </div>
              
                <br />
                <div class="form-group">

                    <label for="position-bottom-left">Description </label>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="Description" class=" form-control" value="@stat[0].BrandDescription" />
                    </div>

                </div>
                <br />
                <div class="form-group">

                    <label for="position-bottom-left">Manufacture </label>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="ManufactureName" class=" form-control" value="@stat[0].ManufactureName" />
                    </div>

                </div>
                <br />
                @*<div class="form-group">

                    <label for="position-bottom-left">Status</label>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p style="padding: 5px">
                            <input type="checkbox" name="Status" id="Status" data-parsley-mincheck="2" checked="@stat" /> Active
                        </p>
                    </div>

                </div>
                <br />*@




                <div class="form-group">

                    <button type="submit" class="btn btn-success" id="btnsubmit">Save</button>
                    <a class="btn btn-primary" href="@Url.Action("ProductBrandList", "Home")">
                        Cancel
                    </a>

                </div>


                @*<div class="border-top">
            <div class="card-body">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="submit" class="btn btn-primary">Reset</button>
                <button type="submit" class="btn btn-info">Edit</button>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </div>
        </div>*@


                </form>

            </div>
                </div>
            </div>
        </div>

    </div>
}

