﻿
@{
	ViewBag.Title = "GenerateSellerCode";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@{
	var data = ViewBag.message;
}
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<br />
						<h2>Reference Code</h2>

						<div class="clearfix"></div>
					</div>
					<div style="height: 50px">
					</div>
					<form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Category">
								Reference Code <span class="required">*</span>
							</label>
							<div class="form-group row">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Category">
									@data[0].SellerRefId<span class="required"></span>
								</label>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</div>

