﻿
@{

	var data = ViewBag.message;

}

if(data ==null)
{

}
else
{
@foreach (var item in ViewBag.message)
{
	<tr class="even pointer" id="row_@item.UserId">
		<td class="a-center " id="check">
			<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
		</td>
		<td class="">@item.BussinessName</td>
		<td class="">@item.MobileNo</td>
		<td class="">@item.FranchiseName</td>
		<td>
			<input type="text" id="@item.UserId" name="@item.UserId" value=@item.Comments>
			<input type="hidden" name="Userid" id="Userid" value="@item.UserId" />
		</td>
		<td class="">@item.CreatedOn</td>



		<td class="">
			<a class="btn btn-sm btn-primary" href="@Url.Action("BusinessVerification", "Home", new { Id = @item.UserId })" aria-label="Edit">
				<i class="fa fa-edit" aria-hidden="true"></i>
			</a>

		</td>
		<td>
			<a class="btn btn-sm btn-success" id="Save" name="Save" aria-label="Edit" onclick=SaveComment(@item.UserId)>
				<i class="fa fa-save" aria-hidden="true"></i>
			</a>
		</td>
	</tr>

}
<div class="clearfix"></div>
<div>
	<ul id="sidebarnav">
		<li style="padding-top: 50px;padding-left: 300px;"><a class="btn btn-primary" href="@Url.Action(" downloadverifiedsellers","Report")"> DOWNLOAD VERIFIED SELLERS</a></li>
		<li style="padding-top: 50px;padding-left: 300px;"><a class="btn btn-primary" href="@Url.Action(" downloadUpgradededsellers","Report")"> DOWNLOAD UPGRADED SELLERS</a></li>
	</ul>
</div>
}
<script type="text/javascript">
	function SaveComment(userid) {
		debugger
		var id = userid;
		var Comment = $("#" + userid + "").val();
		$.ajax({
			type: 'POST',
			url: '/Home/SaveCustomerData',
			data: "{'Id':'" + id + "','comment':'" + Comment + "'}",
			contentType: 'application/json;charset=utf-8',
			success: function (result) {

			},
			error: function (result) {
				alert(result);
			}
		})
	}
</script>