﻿
@{
	ViewBag.Title = "VerifiedBusinessList";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="right_col" role="main">
	<div class="">
		<div class="x_title">

			<div class="clearfix"></div>
		</div>



		<div class="box-header with-border">
			<br />
			<ul class="nav nav-tabs ">
				<li class="header" style="color:#000000; font-weight:400; font-size:20px"><i class="fa fa-building"></i> Verified Businesses </li>
			</ul>
		</div>
		<table >
			<tr>
				@*<td> <label class="col-md-3 col-sm-3 col-xs-12">Search</label></td>*@
				<td>
					@*<input type="text" class="" placeholder="Serch by mobileNumber" name="Mobilenumber" href="@Url.Action("SearchMobilenumber", "Home")" /></td>*@

					<input type="text" id="mobilenumbervB" class="" placeholder="Search by mobileNumber" name="Mobilenumber" />
					<button type="submit" class="btn btn-sm btn-primary" id="SearchvB" name="SearchvB" aria-label="Search">Search</button>


				</td>

				@*<td> <button id="Search" class="btn btn-sm btn-primary">Search </button></td>*@
			</tr>


			<tr>

				<td>
					@*<input type="text" class="" placeholder="Serch by mobileNumber" name="Mobilenumber" href="@Url.Action("SearchMobilenumber", "Home")" /></td>*@

					<input type="text" id="createdDatevB" class="" placeholder="Search by Date" name="createdDate" />
					<button type="submit" class="btn btn-sm btn-primary" id="SearchByDateVB" name="SearchByDateVB" aria-label="Search">Search</button>


				</td>

			</tr>
		</table>
		<table id="ModuleViewTable" class="table table-striped responsive-utilities jambo_table bulk_action" style="padding-top:50px;">
			<thead>
				<tr class="headings">
					<th>
						<div class="icheckbox_flat-green" style="position: relative; background-color:aquamarine"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;" /><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
					</th>
					<th class="column-title" style="display: table-cell;">Business</th>
					<th class="column-title" style="display: table-cell;">Created On </th>
					<th class="column-title no-link last" style="display: table-cell;">
						<span class="nobr">Edit</span>
					</th>
					<th class="bulk-actions" colspan="7" style="display: none;">
						<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a>
					</th>
				</tr>
			</thead>

			<tbody id="UserRow">
				@foreach (var item in ViewBag.message)
				{
					<tr class="even pointer" id="row_@item.BranchId">
						<td class="a-center " id="check">
							<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
						</td>
						<td class="">@item.DisplayName</td>
						@*<td class="">@item.isActive</td>*@
						<td class="">@item.CreatedOn</td>

						<td class=" last">
							<a class="btn btn-sm btn-primary" href="@Url.Action("EditVerifiedBusinesses", "Home", new { Id = @item.UserId })" aria-label="Edit">
								<i class="fa fa-edit" aria-hidden="true"></i>
							</a>

						</td>
					</tr>


				}

			</tbody>




		</table>
		<div>
			@*<ul class="pagination pagination-sm no-margin pull-right">
				<li><a href="#">&laquo;</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>*@
		</div>
		<div class="modal" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content" id="ModelContent">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Module">
									Module <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">

									<input type="text" id="n2" required="required" class=" form-control" readonly />
								</div>
							</div>
							@*<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
									Status <span class="required">*</span>
								</label>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<p style="padding: 5px">
										<input type="checkbox"   name="status" id="status" data-parsley-mincheck="2" required class="flat" checked /> Active
									</p>

								</div>
							</div>*@


						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function sync(active, name) {
		debugger

		var a = active;
		var n1 = name;
		var s = document.getElementById('status');
		var n2 = document.getElementById('n2');
		n2.value = n1;
		s.checked = a;
	}
</script>
<script type="text/javascript">
	$(document).ready(function () {
		debugger
		$('#SearchvB').click(function () {
			var Id = 2;
			var mob = $("#mobilenumbervB").val();

			$.ajax({
				type: 'POST',
				url: '/Home/SearchMobilenumber',
				data: "{'Mobilenumber':'" + mob + "','id':'" + Id + "'}",
				contentType: 'application/json;charset=utf-8',
				success: function (result) {
					$("#UserRow").html(result);
				},
				error: function (result) {
					alert(result);
				}
			});

		})


		$('#SearchByDateVB').click(function () {
			var Id = 1;
			var date = $("#createdDatevB").val();

			$.ajax({
				type: 'POST',
				url: '/Home/SearchBydate',
				data: "{'Date':'" + date + "','id':'" + Id + "'}",
				contentType: 'application/json;charset=utf-8',
				success: function (result) {
					$("#UserRow").html(result);
				},
				error: function (result) {
					alert(result);
				}
			});

		})


	});
</script>
