﻿@model EllokartAdmin.Models.Franchise.FranchiseUpdateModel

@{
	ViewBag.Title = "EditFranchise";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@{

	bool stat = false;
	var data = ViewBag.message;


	if (data[0].IsActive == true)
	{
		stat = true;
	}
}
<!-- page content -->
@using (Html.BeginForm("FranchiseUpdate", "Franchise", FormMethod.Post))
{
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="row">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<br />
							<h4 class="card-title">Edit Franchise</h4>



							<div class="clearfix"></div>
						</div>
						<div style="height: 50px">
						</div>

						<form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">
							<input type="hidden" name="FranchiseId" value="@data[0].FranchiseId" />

							<div class="form-group">

								<label for="position-bottom-left">Franchise Code</label>


								<div class="col-md-6 col-sm-6 col-xs-12">
									@*<select name="BusinessTypeid" id="BusinessTypeId" required="required" class="form-control">*@
										<input type="text" name="FranchiseCode" required="required" class=" form-control" value="@data[0].FranchiseCode" />

								</div>
							</div>

							<br />
							<div class="form-group">

								<label for="position-bottom-left">Phone Number </label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="PhoneNumber" required="required" class=" form-control" value="@data[0].PhoneNumber" />
								</div>
							</div>

							<br />
							<div class="form-group">

								<label for="position-bottom-left">Email Id </label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="EmailId" required="required" class=" form-control" value="@data[0].EmailId" />
								</div>
							</div>

							<br />
							<div class="form-group">

								<label for="position-bottom-left">First Name</label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="FirstName" required="required" class=" form-control" value="@data[0].FirstName" />

								</div>
							</div>

							<br />

							<div class="form-group">

								<label for="position-bottom-left">Last Name</label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="LastName" required="required" class=" form-control" value="@data[0].LastName" />


								</div>
							</div>

							<br />
							<div class="form-group">

								<label for="position-bottom-left">DOB</label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="DOB" required="required" class=" form-control" value="@data[0].DOB" />
								</div>
							</div>

							<br />

							<div class="form-group">

								<label for="position-bottom-left">Gender</label>

								<div class="col-md-6 col-sm-6 col-xs-12">

									<select name="GenderId" class="form-control">
										<option value="@data[0].Gender" selected>@data[0].Gender</option>
										<option value="Male">Male</option>
										<option value="Female">Female</option>
									</select>
								</div>
							</div>

							<br />






							<div class="form-group">

								<label for="position-bottom-left">Status</label>


								<div class="col-md-6 col-sm-6 col-xs-12">
									<p style="padding: 5px">
										<input type="checkbox" name="Status" id="Status" data-parsley-mincheck="2" checked="@stat" /> Active
									</p>
								</div>

							</div>
							<br />

							<div class="form-group">

								<label for="position-bottom-left">Password</label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="Password" required="required" class=" form-control" value="@data[0].Password" />

								</div>
							</div>

							<br />


							<div class="form-group">

								<button type="submit" class="btn btn-success" id="btnsubmit">Save</button>
								<a class="btn btn-primary" href="@Url.Action("FranchiseList", "Franchise")">
									Cancel
								</a>
							</div>


							@*<div class="border-top">
									<div class="card-body">
										<button type="submit" class="btn btn-success">Save</button>
										<button type="submit" class="btn btn-primary">Reset</button>
										<button type="submit" class="btn btn-info">Edit</button>
										<button type="submit" class="btn btn-danger">Cancel</button>
									</div>
								</div>*@


						</form>

					</div>
				</div>
			</div>
		</div>

	</div>

}























