﻿@model EllokartAdmin.Models.Franchise.FranchiseMdl

@{
	ViewBag.Title = "Franchise";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@{

	var stateData = ViewBag.dropdown;


}
@using (Html.BeginForm("CreateFranchise", "Franchise", FormMethod.Post))

{
	@Html.AntiForgeryToken()

	<div class="box box-primary">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs pull-right">
				<li class="pull-left header"><i class=" fa fa-briefcase"></i>Franchise</li>
				@*<li class=""><a href="#tab_3-3" data-toggle="tab" aria-expanded="true">Tab 3</a></li>
				<li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="true">Tab 2</a></li>
				<li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">Tab 1</a></li>*@
			</ul>

			<div class="form-horizontal">
				<div class="box-body" style="padding-top:50px">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group">


						<div class="col-sm-2 control-label">
							<label>Franchise Code</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="franchiseCode" required="required" class="form-control" placeholder="Franchise Code" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label>Phone Number</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="phoneNo" required="required" class="form-control" placeholder="Phone Number" />

						</div>
					</div>
					<br />

					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Email Id</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="EmailId" required="required" class="form-control" placeholder="Email Id" />

						</div>

					</div>

					<br />
					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>First Name</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="FirstName" required="required" class="form-control" placeholder="First Name" />

						</div>
					</div>
					<br />

					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Last Name</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="LastName" required="required" class="form-control" placeholder="Last Name" />

						</div>
					</div>
					<br />

					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>DOB</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="date" name="DOB" required="required" class="form-control" placeholder="Date Of Birth" />

						</div>
					</div>

					<br />
					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Gender</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<select name="GenderId" class="form-control">
								<option value=""></option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>

						</div>
					</div>

					<br />
					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Password</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="Password" required="required" class="form-control" placeholder="Password" />

						</div>
					</div>

					<br />



					


					<div class="form-group">

						<label for="position-bottom-left">State</label>


						<div class="col-md-6 col-sm-6 col-xs-12">
							<select name="stateId" id="state" required="required" class="form-control">
								<option value="@stateData[0].stateId" selected>@stateData[0].stateName</option>
								@foreach (var item in stateData)
								{
									<option value="@item.stateId">@item.stateName</option>
								}
							</select>


						</div>
					</div>



					@*<div class="form-group">
			<div class="col-sm-2 control-label">
				<label>Country</label>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<select name="countryId" class="form-control">
					<option value="" selected disabled hidden>Choose here</option>
					@foreach (var item in @data)
					{
						<option value="@item.countryId">@item.countryName</option>
					}
				</select>

			</div>
		</div>*@





					@*<div class="form-group">
			<div class="col-sm-2 control-label">
				<label>State</label>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<select name="stateId" class="form-control">
					<option value="" selected disabled hidden>Choose here</option>
					@foreach (var item in @data)
					{
						<option value="@item.countryId">@item.countryName</option>
					}
				</select>

			</div>
		</div>*@






					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label>Status</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">

							<p style="padding:5px">

								<input type="checkbox" name="status" id="status" data-parsley-mincheck="2" required class="flat" checked /> Active
							</p>


						</div>
					</div>
					<br />

					<div class="form-group">
						<div class="col-md-6 col-sm-6  col-md-offset-2">

							<input type="submit" class="btn btn-success" value="Submit" />

							<a class="btn btn-primary" href="@Url.Action("FranchiseList", "Franchise")">
								Cancel
							</a>



						</div>
					</div>




				</div>
			</div>
		</div>
	</div>

}


@*<script type="text/javascript">
    $(document).ready(function () {
        $("#country").change(function () {
            $("#state").empty();
            $.ajax({
                type: 'POST',
				url: '@Url.Action("GetRegionsByCountryCode")',
				  url: "/Home/GetPlaceList?DistrictId=" + districtId,
                dataType: 'json',
                data: { countryCode: $("#Country").val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $("#Regions").append('<option value="'
                         + value.CountryCode + '">'
                         + value.RegionName + '</option>');
                    });
				},

                error: function (ex) {
                    alert('Failed to retrieve regions.' + ex);
                }
            });
            return false;
        })
    });
</script>*@