﻿@model EllokartAdmin.Models.Business.BusinessCategUpdateModel

@{
	ViewBag.Title = "EditBusinessCategory";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@{
	bool stat = false;
	var data = ViewBag.message;
	var drpDwn = ViewBag.dropdown;

	if (data[0].IsActive == true)
	{
		stat = true;
	}
}


<!-- page content -->
@using (Html.BeginForm("BusinessCategoryUpdate", "Business", FormMethod.Post))

{


	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="row">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<br />
							<h4 class="card-title">Edit Business Category</h4>



							<div class="clearfix"></div>
						</div>
						<div style="height: 50px">
						</div>

						<form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">
							<input type="hidden" name="BussinessCategoryId" value="@data[0].BussinessCategoryId" />

							<div class="form-group">

								<label for="position-bottom-left">Business Type</label>


								<div class="col-md-6 col-sm-6 col-xs-12">
									<select name="BusinessTypeid" id="BusinessTypeId" required="required" class="form-control">
										<option value="@data[0].BussinessTypeId" selected>@data[0].Name</option>
										@foreach (var item in drpDwn)
										{
											<option value="@item.BussinessTypeId">@item.Name</option>
										}
									</select>
								</div>
							</div>

							<br />
							<div class="form-group">

								<label for="position-bottom-left">Business Category </label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="BusinessName" required="required" class=" form-control" value="@data[0].BussinessCategoryName" />
								</div>
							</div>

							<br />

							<div class="form-group">

								<label for="position-bottom-left">Description </label>

								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" name="Description" class=" form-control" value="@data[0].BussinessCategoryDecr" />
								</div>
							</div>

							<br />



							<div class="form-group">

								<label for="position-bottom-left">Status</label>


								<div class="col-md-6 col-sm-6 col-xs-12">
									<p style="padding: 5px">
										<input type="checkbox" name="Status" id="Status" data-parsley-mincheck="2" checked="@stat" /> Active
									</p>
								</div>

							</div>
							<br />




							<div class="form-group">

								<button type="submit" class="btn btn-success" id="btnsubmit">Save</button>
								<a class="btn btn-primary" href="@Url.Action("BusinessCategoryList", "Business")">
									Cancel
								</a>
							</div>


							@*<div class="border-top">
									<div class="card-body">
										<button type="submit" class="btn btn-success">Save</button>
										<button type="submit" class="btn btn-primary">Reset</button>
										<button type="submit" class="btn btn-info">Edit</button>
										<button type="submit" class="btn btn-danger">Cancel</button>
									</div>
								</div>*@


						</form>

					</div>
				</div>
			</div>
		</div>

	</div>




}
