﻿@model EllokartAdmin.Models.Admin.ModuleAttributeGetModel

@{
	ViewBag.Title = "ModuleAttributeList";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="right_col" role="main">
	<div class="x_panel" style="height:unset">
		<div class="x_title">

			<div class="clearfix"></div>
		</div>

		<div class="x_content">
			<div>

				<div class="box box-primary">
					<div class="box-header with-border">

						<a class="btn btn-sm btn-primary" style="height:30px;width:80px;" href="@Url.Action("ModuleAttribute", "Admin")" aria-label="Edit">

							<b><i class="fa fa-plus-square"></i>  New </b>
						</a>

					</div>

					<table id="ModuleViewTable" class="table table-striped responsive-utilities jambo_table bulk_action" style="padding-top:50px">
						<thead>
							<tr class="headings">
								<th>
									<div class="icheckbox_flat-green" style="position: relative; background-color:aquamarine"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;" /><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</th>
								<th class="column-title" style="display: table-cell;">Module</th>
								<th class="column-title" style="display: table-cell;">Operation</th>
								<th class="column-title" style="display: table-cell;">Created On </th>
								<th class="column-title no-link last" style="display: table-cell;">
									<span class="nobr">Action</span>
								</th>
								<th class="bulk-actions" colspan="7" style="display: none;">
									<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a>
								</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var item in ViewBag.message)
							{
								<tr class="even pointer" id="row_@item.AttributeId">
									<td class="a-center " id="check">
										<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
									</td>
									<td class="">@item.ModuleName</td>
									<td class="">@item.Operation</td>
									<td class="">@item.CreatedOn</td>

									<td class=" last">
										<a class="btn btn-sm btn-primary" href="@Url.Action("EditModuleAttribute", "Admin", new { Id = @item.AttributeId })" aria-label="Edit">
											<i class="fa fa-edit" aria-hidden="true"></i>
										</a>
										<a class="btn btn-sm btn-success" id="btnView" data-toggle="modal" data-target="#myModal" aria-label="Edit" onclick="sync('@item.ModuleName','@item.Operation')">
											<i class="fa fa-eye" aria-hidden="true"></i>
										</a>
										<a class="btn btn-sm btn-primary" href="@Url.Action("DeleteModuleAttribute" +
																			   "", "Admin", new { Id=@item.AttributeId})" aria-label="Edit">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</a>
									</td>
								</tr>


							}

						</tbody>




					</table>
					
					<div class="modal" id="myModal">
						<div class="modal-dialog">
							<div class="modal-content" id="ModelContent">
								<div class="modal-header">
									<button class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body">
									<form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Module">
												Module <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">

												<input type="text" id="n1" required="required" class=" form-control" readonly />
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
												Operation <span class="required">*</span>
											</label>
											<div class="col-md-3 col-sm-3 col-xs-12">
												<p style="padding: 5px">
													<input type="text" id="n2" required="required" class=" form-control" readonly />
												</p>

											</div>
										</div>


									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function sync(name, operation) {
		debugger

		var n1 = name;
		var n2 = operation;
		var s = document.getElementById('n1');
		var p = document.getElementById('n2');
		s.value = n1;
		p.value = n2;
	}
</script>
