﻿@model EllokartAdmin.Models.Admin.ModuleAttributeModel

@{
	ViewBag.Title = "ModuleAttribute";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@{
	var data = ViewBag.Message;

}
@using (Html.BeginForm("CreateModuleAttribute", "Admin", FormMethod.Post))

{
	@Html.AntiForgeryToken()

	<div class="box box-primary">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs pull-right">
				<li class="pull-left header"><i class=" fa fa-th"></i> Module Attribute</li>
				
			</ul>

			<div class="form-horizontal">
				<div class="box-body" style="padding-top:50px">
					@*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@


					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label>Module</label>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">

							<select name="ModuleId" class="form-control">
								<option value="" selected>Choose here</option>
								@foreach (var item in @data)
								{
									<option value="@item.moduleId">@item.moduleName</option>
								}
							</select>

						</div>
					</div>



					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Operation</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="operation" required="required" class="form-control" placeholder="Module Attribute" />
							@*@Html.EditorFor(model => model.Operation, new { htmlAttributes = new { @class = "form-control", placeholder = "Module Attribute" } })
								@Html.ValidationMessageFor(model => model.Operation, "", new { @class = "text-danger" })*@
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label>Status</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">

							<p style="padding:5px">
								@*@Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @checked = true })Active*@
								<input type="checkbox" name="status" id="status" required="required" data-parsley-mincheck="2" required class="flat" checked /> Active
							</p>


						</div>
					</div>

					<div class="form-group">
						<div class="col-md-6 col-sm-6  col-md-offset-2">
							<a class="btn btn-primary" href="@Url.Action("ModuleAttributeList", "Admin")">
								Cancel
							</a>
							<input type="submit" class="btn btn-success" value="Submit" />

							@*<a class="btn btn-success" id="btnSubmit" value="Module">Submit</a>*@

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}



