﻿@model EllokartAdmin.Models.ProductSpecification.ProductSpecModel


@{
	ViewBag.Title = "ProductSpecification";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@using (Html.BeginForm("CreateProductSpec", "ProductSpecification", FormMethod.Post))

{
	@Html.AntiForgeryToken()

	<div class="box box-primary">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs pull-right">
				<li class="pull-left header"><i class=" fa fa-th"></i>Product Specification</li>
				<li class=""><a href="#tab_3-3" data-toggle="tab" aria-expanded="true">Tab 3</a></li>
				<li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="true">Tab 2</a></li>
				<li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">Tab 1</a></li>
			</ul>

			<div class="form-horizontal">
				<div class="box-body" style="padding-top:50px">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Product Specification</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							@Html.EditorFor(model => model.specificationName, new { htmlAttributes = new { @class = "form-control", placeholder = "Specification" } })
							@Html.ValidationMessageFor(model => model.specificationName, "", new { @class = "text-danger" })
						</div>
					</div>
					<br />
					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Description</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							@Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
							@Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
						</div>
					</div>
					<br />

					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label>Status</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">

							<p style="padding:5px">
								@Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @checked = true })Active


							</p>


						</div>
					</div>

					<div class="form-group">
						<div class="col-md-6 col-sm-6  col-md-offset-2">

							<input type="submit" class="btn btn-success" value="Submit" />

							<a class="btn btn-primary" href="@Url.Action("ProductCatSpecList", "ProductSpecification")">
								Cancel
							</a>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}

