﻿@model EllokartAdmin.Models.Tax.TaxInput



@{
	ViewBag.Title = "Tax";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@{
	var data = ViewBag.Message;
}
@using (Html.BeginForm("CreateTax", "Tax", FormMethod.Post))

{
	@Html.AntiForgeryToken()

	<div class="box box-primary">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs pull-right">
				<li class="pull-left header"><i class=" fa fa-money"></i>Tax</li>
				
			</ul>

			<div class="form-horizontal">
				<div class="box-body" style="padding-top:50px">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					@*<div class="form-group">

							<div class="col-sm-2 control-label">
								<label>Tax Type</label>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">
								@Html.DropDownListFor(model => model.taxType, new SelectList(ViewBag.Message, "taxTypeId", "TaxName"))

							</div>
						</div>*@

					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Tax </label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							@Html.EditorFor(model => model.taxName, new { htmlAttributes = new { @class = "form-control", placeholder = "Tax Name" } })
							@Html.ValidationMessageFor(model => model.taxName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">

						<div class="col-sm-2 control-label">
							<label>Tax Percentage</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							@Html.EditorFor(model => model.taxPercentage, new { htmlAttributes = new { @class = "form-control", placeholder = "Tax Percentage" } })
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2 control-label">
							<label>Status</label>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">

							<p style="padding:5px">
								@Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @checked = true })Active


							</p>


						</div>
					</div>

					<div class="form-group">
						<div class="col-md-6 col-sm-6  col-md-offset-2">

							<input type="submit" class="btn btn-success" value="Submit" />

							<a class="btn btn-primary" href="@Url.Action("TaxList", "Tax")">
								Cancel
							</a>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}
